.bg-birumuda{
    background-color:#29BFFF;
}
.foto{
    height: 200px;
}
.bg-birutua{
    background-color:#257BE8;
}
.padding-saya{
    padding-top: 20px;
    padding-bottom: 20px;
}
.bg-birulebihtua{
    background-color: #000087;
}
